nav {
    background-color: lightgrey;
    height: 2em;
    font-size: 1.3em;
}

#contact-form-div {
  width: 75%;
  height: auto;
  padding-top: 1em;
  padding-bottom: 3em;
  border-radius: 1em;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: center;
  background-color: gray;
}
.contact-form-label {
    font-size: 1.3em;
  }
  .contact-form-input {
    width: 90%;
    height: 1.5em;
    margin-bottom: 1em;
  }
  .contact-form-button{
    margin-top: 1em;
    padding-left: 1em;
    width: 100%;
    height: auto;
  }
  .contact-form-button:hover{
    cursor: pointer;
  }
